body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: white;
  box-sizing: border-box;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

/* Navigation */

nav.navbar {
  height: 20vh;
}

.logo {
  width: 110px;
  height: 110px;
}

.cart-icon {
  font-size: 1.5rem;
  color: rgb(255, 102, 112);
}

.login-button {
  background-color: rgb(255, 102, 112);
  color: whitesmoke;
}

a.nav-link {
  color: rgb(26, 35, 126);
  font-size: 1.5rem;
  font-weight: 800;
}

a.nav-link:hover {
  cursor: pointer;
  color: rgb(255, 102, 112);
}

/* Carousel */

.carousel-item {
  height: 80vh;
}

.carousel-tip {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(255, 87, 34);
  text-shadow: 0.2rem 0.2rem 0.5rem black;
}

/* Features */

.features-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(255, 102, 112);
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.features-container {
  width: 100%;
}

.features-row {
  width: 100%;
  margin-bottom: 4rem;
}

.features-item {
  width: 45%;
  border: solid;
  border-radius: 1rem;
  border-width: 0.75rem;
  border-color: rgb(246, 220, 223);
  box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgb(200, 200, 200);
  background-color: rgb(249, 251, 231);
}

.features-image {
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
}

.features-item-title {
  color: rgb(26, 35, 126);
  font-size: 1.5rem;
  font-weight: 600;
}

.features-item-content {
  font-size: 1rem;
  margin-right: 1rem;
  text-align: justify;
}

/* Wave */

.wave-background {
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: url(../images/wave.jpg);
}

.wave-title {
  color: rgb(26, 35, 126);
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.5rem rgb(200, 200, 200);
}

.wave-content {
  color: rgb(255, 102, 112);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.5rem rgb(200, 200, 200);
}

/* Customer Review */

.customer-review-card {
  width: 30%;
  height: 25rem;
  border: solid;
  border-color: rgb(26, 35, 126);
  border-radius: 1rem;
  border-width: 0.75rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgb(200, 200, 200);
  background-color: rgb(249, 251, 231);
}

.customer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem;
}

.customer-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 102, 112);
}

.customer-review {
  font-size: 1rem;
  text-align: justify;
  padding: 0.75rem;
}

/* Instagram */

.instagram-background {
  margin: 0;
  margin-top: 6rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  background: url(../images/instagram-background-1.png);
}

.instagram-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.instagram-item {
  margin: 0;
  padding: 0;
  width: 20%;
}

/* About */

.about-content {
  font-size: 1rem;
  text-align: justify;
}

/* Footer */

.footer-background {
  margin: 0;
  margin-top: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: url(./images/footer-background.jpg);
}

.footer-header {
  font-size: 1.2rem;
  font-weight: 800;
}

.footer-list {
  list-style-type: none;
}

.footer-link {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}

.footer-link:link {
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(255, 102, 112);
}

.footer-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.footer-icon {
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

.footer-icon i:hover {
  cursor: pointer;
  color: rgb(255, 102, 112);
}
